.container {
  background-color: black;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.container p {
  color: white;
  margin:0px;
}
.container a {
  color:white;
}

.textContainer {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.gradientText {
  font-weight: bold;
  font-size: 64px;
  background: #FC466B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3F5EFB, #FC466B);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}